<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.razerdp.module.second" >
    <application>
        <provider
            android:name=".ModuleSecondProvider"
            android:authorities="${applicationId}.ModuleSecondProvider"
            android:exported="false"
            android:multiprocess="false"
            android:grantUriPermissions="true"/>
    </application>
</manifest>
